<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have a new booking, <%= @host.email %></h1>
    <p>
      You have a new booking request from <%= @customer.email %> under <%= @reservation_id %><br>
    </p>
    <p>
      To confirm the reservation, just click <a href="http://localhost:3000/">this</a> link.
    </p>
  </body>
</html>
